.carouselContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselCards {
  width: 80%;
  overflow: hidden;
}

.carouselCardsWrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carouselCard {
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
}

.carouselButton {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
