.sidebar {
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}
.welcomeMessage {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  color: #fff;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* When language is HE, set direction to RTL */
.sidebar.rtl {
  direction: rtl;
}

.sidebar.ltr {
  direction: ltr;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 10px 0;
}

.navLink {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap; /* Prevents the word from breaking */
  overflow: hidden;    /* Hides the overflow text if it's too long */
  text-overflow: ellipsis; /* Optionally add ellipsis (...) for overflow text */
}

.navLink:hover {
  background-color: #34495e;
}

.logoutButton {
  margin-top: auto;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #c0392b;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}

.closeBtn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

.languageButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.languageButton {
  position: static;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .closeBtn {
    display: none !important;
  }
}
