.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.welcomeMessage {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  color: #fff;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* When language is HE, set direction to RTL */
.sidebar.rtl {
  direction: rtl;
}

.sidebar.ltr {
  direction: ltr;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 10px 0;
}

.navLink {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap; /* Prevents the word from breaking */
  overflow: hidden;    /* Hides the overflow text if it's too long */
  text-overflow: ellipsis; /* Optionally add ellipsis (...) for overflow text */
}

.navLink:hover {
  background-color: #34495e;
}

.logoutButton {
  margin-top: auto;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #c0392b;
}

.languageButton {
  position: static;
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

/* Add margin to main content to account for fixed sidebar */
@media screen and (min-width: 768px) {
  .sidebar {
    width: 250px;
  }
}

/* For mobile devices, make the sidebar full width */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1000;
  }
}
