.sidebar {
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar nav ul li a:hover {
  background-color: #34495e;
}

.logout-button {
  margin-top: auto;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .sidebar .close-btn {
    display: none !important;
  }
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar:not(.open) {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #34495e;
  border-radius: 5px;
}

.close-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}
